# Flask + DB
Flask
Flask-Cors
Flask-SQLAlchemy
SQLAlchemy
python-dotenv

# OCR (Google Vision API)
google-cloud-vision

# Vector Database
chromadb

# ML / Analytics
numpy
pandas
scikit-learn
openai

# PDF/Image processing
pdf2image
Pillow

# API + Utils
requests
typing_extensions

# Auth (Supabase JWT verification)
PyJWT[crypto]

# Email (optional)
email-validator
imapclient
